.container {
  width: 565px;
  height: 458px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 5px 4px 13.4px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  margin-top: 13vh;   
}

.content-container{
  height: 700px;
  justify-content: center;
  display: grid;
  position: relative;
  top: -140px;
  grid-template-rows: 1fr 1.2fr 2fr;
  overflow: hidden;
}

.image-container{
  position: relative;
  top: 10px;
  justify-content: center;
  display: grid;
}

.title-container{
  position: relative;
  text-align: center;
  top: 10px;
  h1{
    font: 24px;
    font-weight: bold;
  }
  p{
    margin-top: -10px;
    color: #7D7D7D;
    font-size: 11px;
  }
  a{
    color: #0B8AFF;
    cursor: pointer;
    text-decoration: underline;
  }
}

.input-container{
  position: relative;
  top: -110px;
  display: grid;
  h3{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -60px;
    left: -15px;
    position: relative;
  }
  input{
    width: 50px;
    height: 84px;
    border-radius: 9px;
    background-color: rgb(242, 242, 242, 0);
    border: 2px solid #E3E3E3;
    position: relative;
    font-size: 64px;
    margin-left: 10px;
    top : 5px;
    text-align: center;
  }
  h3{
    top:15px;
    position: relative;
  }
  h4{
    font-size: 16px;
    font-weight: lighter;
    color: #7D7D7D;
    top: -60px;
    left: 60px;
    position: relative;
  }
  a{
    margin-left: 10px;
    font-size: 12px;
    font-weight: lighter;
    color: #7D7D7D;
    cursor: pointer;
    text-decoration: underline;
  }
}


.confirm-button{
  position: relative;
  top: -310px;
  left: 410px;
  justify-content: center;
  align-items: center;
  display: grid;
  justify-content: center;
  width: 118px;
  height: 38px;
  border: 0px;
  border-radius: 7px;
  background-color: #FF9F10;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.confirm-button:hover{
  background-color: #FFB24D;
}

.confirm-button:active{
  background-color: #FF9F10;
}
