<div class="container">
  <div class="content-container">
    <div class="image-container">
      <app-logo-image></app-logo-image>
    </div>
    <div class="title-container" [@slideInOut]="animationState">
      <h1>Confirm your Email</h1>
      <p>I already have an account. <a>Log in</a></p>
    </div>
    <div class="input-container" [@slideInOut]="animationState">
      <h3>Verify code</h3>
      <div>
        <input
          (paste)="onPaste($event)"
          (input)="onInput($event, 1)"
          [(ngModel)]="confirmCode[0]"
          maxlength="1"
          id="input1"
        />
        <input
          (input)="onInput($event, 2)"
          [(ngModel)]="confirmCode[1]"
          maxlength="1"
          id="input2"
        />
        <input
          (input)="onInput($event, 3)"
          [(ngModel)]="confirmCode[2]"
          maxlength="1"
          id="input3"
        />
        <input
          (input)="onInput($event, 4)"
          [(ngModel)]="confirmCode[3]"
          maxlength="1"
          id="input4"
        />
        <input
          (input)="onInput($event, 5)"
          [(ngModel)]="confirmCode[4]"
          maxlength="1"
          id="input5"
        />
        <input
          (input)="onInput($event, 6)"
          [(ngModel)]="confirmCode[5]"
          maxlength="1"
          id="input6"
        />
      </div>
      <h4>You couldn’t get any Email from us?<a>Resend the code.</a></h4>
    </div>
  </div>
  <button class="confirm-button" *ngIf="isFilled()" (click)="confirm()">Confirm</button>
</div>
