.container {
  width: 565px;
  height: 628px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 5px 4px 13.4px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  margin-top: 10vh;  
}

.content-container{
  height: 700px;
  justify-content: center;
  display: grid;
  position: relative;
  top: -100px;
  grid-template-rows: 1fr 1.2fr 1.5fr 1fr;

}

.title-container{
  position: relative;
  top: -30px;
  text-align: center;
  h1{
    font: 24px;
    font-weight: bold;
  }
}

.input-container{
  position: relative;
  top: -80px;
  display: grid;
  h3{
    font-size: 14px;
    font-weight: bold;
  }
  input{
    width: 501px;
    height: 33px;
    border-radius: 9px;
    background-color: rgb(242, 242, 242, 0);
    border: 2px solid #E3E3E3;
    margin-top: -20px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
  }
}


.confirm-button{
  position: relative;
  top: -130px;
  left: 430px;
  justify-content: center;
  align-items: center;
  display: grid;
  justify-content: center;
  width: 118px;
  height: 38px;
  border: 0px;
  border-radius: 7px;
  background-color: #FF9F10;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.confirm-button:hover{
  background-color: #FFB24D;
}

.confirm-button:active{
  background-color: #FF9F10;
}
