<div class="container">
  <div class="content-container">
    <div class="image-container">
      <app-logo-image></app-logo-image>
    </div>
    <div class="title-container" [@slideInOut]="animationState">
      <h1>Sign in</h1>
      <p>
        I dont have an account yet. <a (click)="openSignUpDialog()">Sign up</a>
      </p>
    </div>
    <div class="input-container" [@slideInOut]="animationState">
      <h3>E-mail</h3>
      <input class="email-input" [(ngModel)]="email" />
      <h3>Password</h3>
      <input class="password-input" type="password" [(ngModel)]="password" (keyup.enter)="signIn()"/>
    </div>
    <button
      (click)="signIn()"
      class="confirm-button"
      [@slideInOut]="animationState"
    >
      Confirm
    </button>
  </div>
</div>
