<div class="container" >
  <div class="content-container" >
    <div class="image-container">
      <app-logo-image></app-logo-image>
    </div>
    <div class="title-container">
      <h1>Sign in</h1>
      <p>I dont have an account yet. <a (click)="openSignUpDialog()">Sign up</a></p>
    </div>
    <div class="input-container">
      <h3>E-mail</h3>
      <input class="email-input" [(ngModel)]="email" />
      <h3>Password</h3>
      <input class="password-input" type="password" [(ngModel)]="password" />
    </div>
  </div>
  <button (click)="signIn()" class="confirm-button">Confirm</button>
</div>
