<div class="container" [@shrinkHeight]="containerAnimationState">
  <div class="content-container" >
    <div class="image-container">
      <app-logo-image></app-logo-image>
    </div>
    <div class="title-container" [@slideInOut]="animationState">
      <h1>Create your account</h1>
      <p>I already have an account. <a>Log in</a></p>
    </div>
    <div class="input-container" [@slideInOut]="animationState">
      <h3>E-mail</h3>
      <input class="email-input" [(ngModel)]="email" />
      <h3>Password</h3>
      <input class="password-input" type="password" [(ngModel)]="password" />
    </div>
    <div class="policy-container" [@slideInOut]="animationState">
      <h3>Service policy</h3>
      <div>
        <label>
          <input type="checkbox" class="ui-checkbox" />Subscribe to newsletter?
        </label>
        <a>Detail</a>
      </div>
      <div>
        <label>
          <input type="checkbox" class="ui-checkbox" />Subscribe to newsletter?
        </label>
        <a>Detail</a>
      </div>
      <label>
        <input type="checkbox" class="ui-checkbox" />Subscribe to newsletter?
      </label>
    </div>
  </div>
  <button (click)="signUp()" class="confirm-button" [@slideInOut]="animationState">Confirm</button>
</div>
